<form ng-app="myApp" ng-controller="validateCtrl"
      name="loginForm" novalidate id="loginForm">

    <!-- name field -->
    <div class="form-group" ng-class="{ 'has-error': loginForm.name.$touched && loginForm.name.$invalid }">
        <label>Name</label>
        <input type="text" name="name" class="form-control"
               ng-model="main.name"
               ng-minlength="5"
               ng-maxlength="10"
               required>

        <div class="help-block" ng-messages="loginForm.name.$error" ng-if="loginForm.name.$touched">
            <div ng-messages-include="validate/messages.html"></div>
        </div>
    </div>

    <!-- email field -->
    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
        <label>Email</label>
        <input type="email" name="email" class="form-control"
               ng-model="main.email"
               ng-minlength="5"
               ng-maxlength="20"
               required>

        <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
            <div ng-messages-include="validate/messages.html"></div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>

</form>